practica3/practica3WSServlet/src/conf/xml-resources/web-service-references/WS/wsdl/localhost_8080/practica3Server/WS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicio/">

<xs:element name="DeleteImage" type="tns:DeleteImage"/>

<xs:element name="DeleteImageResponse" type="tns:DeleteImageResponse"/>

<xs:element name="ListImage" type="tns:ListImage"/>

<xs:element name="ListImageResponse" type="tns:ListImageResponse"/>

<xs:element name="ModifyImage" type="tns:ModifyImage"/>

<xs:element name="ModifyImageResponse" type="tns:ModifyImageResponse"/>

<xs:element name="MultiSearch" type="tns:MultiSearch"/>

<xs:element name="MultiSearchResponse" type="tns:MultiSearchResponse"/>

<xs:element name="RegisterImage" type="tns:RegisterImage"/>

<xs:element name="RegisterImageResponse" type="tns:RegisterImageResponse"/>

<xs:element name="SearchbyAuthor" type="tns:SearchbyAuthor"/>

<xs:element name="SearchbyAuthorResponse" type="tns:SearchbyAuthorResponse"/>

<xs:element name="SearchbyCreaDate" type="tns:SearchbyCreaDate"/>

<xs:element name="SearchbyCreaDateResponse" type="tns:SearchbyCreaDateResponse"/>

<xs:element name="SearchbyId" type="tns:SearchbyId"/>

<xs:element name="SearchbyIdResponse" type="tns:SearchbyIdResponse"/>

<xs:element name="SearchbyTitle" type="tns:SearchbyTitle"/>

<xs:element name="SearchbyTitleResponse" type="tns:SearchbyTitleResponse"/>

<xs:element name="afegeixUser" type="tns:afegeixUser"/>

<xs:element name="afegeixUserResponse" type="tns:afegeixUserResponse"/>

<xs:element name="comprobaUser" type="tns:comprobaUser"/>

<xs:element name="comprobaUserResponse" type="tns:comprobaUserResponse"/>

<xs:element name="iniSession" type="tns:iniSession"/>

<xs:element name="iniSessionResponse" type="tns:iniSessionResponse"/>

<xs:complexType name="SearchbyAuthor">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchbyAuthorResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModifyImage">
<xs:sequence>
<xs:element name="image" type="tns:image" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="image">
<xs:sequence>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
<xs:element name="contenido" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="datac" type="xs:string" minOccurs="0"/>
<xs:element name="datas" type="xs:string" minOccurs="0"/>
<xs:element name="descripcio" type="xs:string" minOccurs="0"/>
<xs:element name="filename" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="keywords" type="xs:string" minOccurs="0"/>
<xs:element name="titol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModifyImageResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchbyId">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchbyIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:image" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegisterImage">
<xs:sequence>
<xs:element name="image" type="tns:image" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegisterImageResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchbyTitle">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchbyTitleResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteImage">
<xs:sequence>
<xs:element name="image" type="tns:image" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteImageResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comprobaUser">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comprobaUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="afegeixUser">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="afegeixUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MultiSearch">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="keywords" type="xs:string" minOccurs="0"/>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
<xs:element name="datacreation" type="xs:string" minOccurs="0"/>
<xs:element name="datasubida" type="xs:string" minOccurs="0"/>
<xs:element name="filename" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MultiSearchResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListImage">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListImageResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchbyCreaDate">
<xs:sequence>
<xs:element name="creaDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchbyCreaDateResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="iniSession">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="iniSessionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>