ServidoresParejaPractica5/restAD/web/WEB-INF/wsdl/localhost_8080/pr3/pr3.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pr3/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pr3/" name="pr3">
<types>
<xsd:schema>
<xsd:import namespace="http://pr3/" schemaLocation="http://localhost:8080/pr3/pr3?xsd=1"/>
</xsd:schema>
</types>
<message name="ModifyImage">
<part name="parameters" element="tns:ModifyImage"/>
</message>
<message name="ModifyImageResponse">
<part name="parameters" element="tns:ModifyImageResponse"/>
</message>
<message name="DeleteImage">
<part name="parameters" element="tns:DeleteImage"/>
</message>
<message name="DeleteImageResponse">
<part name="parameters" element="tns:DeleteImageResponse"/>
</message>
<message name="getNewImageId">
<part name="parameters" element="tns:getNewImageId"/>
</message>
<message name="getNewImageIdResponse">
<part name="parameters" element="tns:getNewImageIdResponse"/>
</message>
<message name="userExists">
<part name="parameters" element="tns:userExists"/>
</message>
<message name="userExistsResponse">
<part name="parameters" element="tns:userExistsResponse"/>
</message>
<message name="RegisterImage">
<part name="parameters" element="tns:RegisterImage"/>
</message>
<message name="RegisterImageResponse">
<part name="parameters" element="tns:RegisterImageResponse"/>
</message>
<message name="ListImages">
<part name="parameters" element="tns:ListImages"/>
</message>
<message name="ListImagesResponse">
<part name="parameters" element="tns:ListImagesResponse"/>
</message>
<message name="SearchbyId">
<part name="parameters" element="tns:SearchbyId"/>
</message>
<message name="SearchbyIdResponse">
<part name="parameters" element="tns:SearchbyIdResponse"/>
</message>
<message name="SearchbyTitle">
<part name="parameters" element="tns:SearchbyTitle"/>
</message>
<message name="SearchbyTitleResponse">
<part name="parameters" element="tns:SearchbyTitleResponse"/>
</message>
<message name="SearchbyCreaDate">
<part name="parameters" element="tns:SearchbyCreaDate"/>
</message>
<message name="SearchbyCreaDateResponse">
<part name="parameters" element="tns:SearchbyCreaDateResponse"/>
</message>
<message name="SearchbyAuthor">
<part name="parameters" element="tns:SearchbyAuthor"/>
</message>
<message name="SearchbyAuthorResponse">
<part name="parameters" element="tns:SearchbyAuthorResponse"/>
</message>
<message name="SearchbyKeywords">
<part name="parameters" element="tns:SearchbyKeywords"/>
</message>
<message name="SearchbyKeywordsResponse">
<part name="parameters" element="tns:SearchbyKeywordsResponse"/>
</message>
<portType name="pr3">
<operation name="ModifyImage">
<input wsam:Action="http://pr3/pr3/ModifyImageRequest" message="tns:ModifyImage"/>
<output wsam:Action="http://pr3/pr3/ModifyImageResponse" message="tns:ModifyImageResponse"/>
</operation>
<operation name="DeleteImage">
<input wsam:Action="http://pr3/pr3/DeleteImageRequest" message="tns:DeleteImage"/>
<output wsam:Action="http://pr3/pr3/DeleteImageResponse" message="tns:DeleteImageResponse"/>
</operation>
<operation name="getNewImageId">
<input wsam:Action="http://pr3/pr3/getNewImageIdRequest" message="tns:getNewImageId"/>
<output wsam:Action="http://pr3/pr3/getNewImageIdResponse" message="tns:getNewImageIdResponse"/>
</operation>
<operation name="userExists">
<input wsam:Action="http://pr3/pr3/userExistsRequest" message="tns:userExists"/>
<output wsam:Action="http://pr3/pr3/userExistsResponse" message="tns:userExistsResponse"/>
</operation>
<operation name="RegisterImage">
<input wsam:Action="http://pr3/pr3/RegisterImageRequest" message="tns:RegisterImage"/>
<output wsam:Action="http://pr3/pr3/RegisterImageResponse" message="tns:RegisterImageResponse"/>
</operation>
<operation name="ListImages">
<input wsam:Action="http://pr3/pr3/ListImagesRequest" message="tns:ListImages"/>
<output wsam:Action="http://pr3/pr3/ListImagesResponse" message="tns:ListImagesResponse"/>
</operation>
<operation name="SearchbyId">
<input wsam:Action="http://pr3/pr3/SearchbyIdRequest" message="tns:SearchbyId"/>
<output wsam:Action="http://pr3/pr3/SearchbyIdResponse" message="tns:SearchbyIdResponse"/>
</operation>
<operation name="SearchbyTitle">
<input wsam:Action="http://pr3/pr3/SearchbyTitleRequest" message="tns:SearchbyTitle"/>
<output wsam:Action="http://pr3/pr3/SearchbyTitleResponse" message="tns:SearchbyTitleResponse"/>
</operation>
<operation name="SearchbyCreaDate">
<input wsam:Action="http://pr3/pr3/SearchbyCreaDateRequest" message="tns:SearchbyCreaDate"/>
<output wsam:Action="http://pr3/pr3/SearchbyCreaDateResponse" message="tns:SearchbyCreaDateResponse"/>
</operation>
<operation name="SearchbyAuthor">
<input wsam:Action="http://pr3/pr3/SearchbyAuthorRequest" message="tns:SearchbyAuthor"/>
<output wsam:Action="http://pr3/pr3/SearchbyAuthorResponse" message="tns:SearchbyAuthorResponse"/>
</operation>
<operation name="SearchbyKeywords">
<input wsam:Action="http://pr3/pr3/SearchbyKeywordsRequest" message="tns:SearchbyKeywords"/>
<output wsam:Action="http://pr3/pr3/SearchbyKeywordsResponse" message="tns:SearchbyKeywordsResponse"/>
</operation>
</portType>
<binding name="pr3PortBinding" type="tns:pr3">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ModifyImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNewImageId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="userExists">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegisterImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListImages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyCreaDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="pr3">
<port name="pr3Port" binding="tns:pr3PortBinding">
<soap:address location="http://localhost:8080/pr3/pr3"/>
</port>
</service>
</definitions>